<div class="list-group" *ngFor="let todolist of todolists"> 
        <div class="titler">
          <div class="calendar"></div>
          <div class="titl">{{todolist.name}}</div>
          <div class="icon">
            <!--<a href="" class="pencil"></a>{{getAllTask2(todolist._id)}}
            <a href="" class="recycle"></a>-->
                	<i title="Edit" class="fas fa-edit" (click)="editTodolist(todolist)" aria-hidden="true"></i>
                	<i title="Delete" class="fas fa-trash-alt" (click)="setDeleteTodolist(todolist)" data-toggle="modal" data-target="#deleteTodolistModal" aria-hidden="true"></i>
          </div>
        </div>

	<!--<form>
	<div class="form-group"> {{todolist.project_id}} (click)=getAllTask2(todolist._id)-->
        <div class="searcher">
          <div class="plus"></div>
          <div class="input-group" style="width: auto;">
            <input type="text" class="form-control" placeholder="Start typing here to create a task..." #TaskName (keyup.enter)="addTask(todolist._id, TaskName.value, TaskDeadline.value)">
            <span class="input-group-btn">
              <!--<button #addTask class="btn btn-default" type="button" data-toggle="modal" data-target="#AddTaskModal">Add Task</button> [(ngModel)]="task.name" [(ngModel)]="task.deadline"-->

 <div class="col-xs-5">
<input name="task_deadline" type="text" class="form-control" id="tsk_deadline" aria-describedby="tsk_deadline" placeholder="Enter task deadline" #TaskDeadline [min]="min" [owlDateTime]="dt" [owlDateTimeTrigger]="dt"  style="width: 170px;" (keyup.enter)="addTask(todolist._id, TaskName.value, TaskDeadline.value)">
			<owl-date-time #dt></owl-date-time>
</div>

              <button (click)="addTask(todolist._id, TaskName.value, TaskDeadline.value)" class="btn btn-default" type="button">Add Task</button>
            </span>
          </div>
        </div>
	<!--</div>
	</form>-->

        <div class="block">
          <table>
            <tbody>

              <tr *ngFor="let TodoListTask of todolist.tasks" >
                <td> {{ DateExpired( TodoListTask,todolist._id ) }}
                <!--<td class="tick" DateExpired(TodoListTask._id,TodoListTask.deadline)  [ngStyle]="DateExpired(TodoListTask.deadline) == true && {'background-color': '#edc5c5'}">
                  <a href="#"></a>-->
			<div class="tick">
				<input type="checkbox" class="form-check-input" [checked]="TodoListTask.status==true" #checkbox (change)="editTaskCheck(checkbox.checked,TodoListTask,todolist._id)"> 
			</div>
                </td>
                <td class="borderred"></td>
                <td class="what" [ngStyle]="TodoListTask.status == true && {'text-decoration': 'line-through'}" > {{ TodoListTask.name }} </td>
<td class="datetask">{{ DateTask(TodoListTask.deadline) }}</td>
                <td class="icon">
			<i title="Sort" class="fas fa-sort" aria-hidden="true"></i>
                	<i title="Edit" class="fas fa-edit" (click)="editTask(TodoListTask, todolist._id)" aria-hidden="true" data-toggle="modal" data-target="#AddTaskModal"> <!--#addTask data-toggle="modal" data-target="#AddTaskModal"--></i>
                	<i title="Delete" class="fas fa-trash-alt" (click)="setDeleteTask(TodoListTask, todolist._id)" data-toggle="modal" data-target="#deleteTaskModal" aria-hidden="true"></i>
                </td>
              </tr>

            </tbody>
          </table>
        </div> 
</div>


<!-- Modal -->

<div class="modal fade" id="deleteTodolistModal" tabindex="-1" role="dialog" aria-labelledby="exampleTodolistModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleTodolistModalLabel">Delete Todolist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure ?
      </div>
      <div class="modal-footer">
        <button #closeBtnTodolist (click)="unsetDeleteTodolist()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button (click)="deleteTodolist()" type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleTaskModalLabel">Delete Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure ?
      </div>
      <div class="modal-footer">
        <button #closeBtnTask (click)="unsetDeleteTask()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button (click)="deleteTask()" type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>


