i{
	cursor: pointer;
}

.titler {
    color: #fff;
    background-image: linear-gradient(#fff, #4e81ba 3.9%, #3461a1 100%);
    border: 1px solid #315589;
}
.titler:hover .icon {
    opacity: 1;
}
.calendar {
    float: left;
    height: 50px;
    background: rgba(0, 0, 0, 0) url("../../assets/img/sprite.png") no-repeat scroll;
    background-position: -156px -158px;
    min-width: 51px;
}
.icon a {
    display: inline-block;
}
.icon {
    float: right;
    padding-right: 10px;
    opacity: 0;
}
.pencil {
    width: 40px;
    height: 20px;
    display: inline-block;
    background: rgba(0, 0, 0, 0) url("../../assets/img/sprite.png") no-repeat scroll;
    background-position: -165px -91px;
    border-right: 1px solid #5284bf;

}
.recycle {
    height: 20px;
    display: inline-block;
    background: rgba(0, 0, 0, 0) url("../../assets/img/sprite.png") no-repeat scroll;
    background-size: 230px 230px;
    background-position: -6px -174px;
    width: 42px;
}
.titl {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    float: left;
    padding-top: 12px;
}
.searcher {
    min-height: 51px;
    background-image: linear-gradient(#e0e0e0, #cdcdcd);
    padding: 9px;
}
.plus {
    float: left;
    height: 40px;
    width: 40px;
    display: inline-block;
    background: rgba(0, 0, 0, 0) url("../../assets/img/sprite.png") no-repeat scroll;
    background-position: -167px 0;
}
.input-group {
    max-width: 94%;
    padding-right: 3px;
}
.form-control {
    border-radius: 0;
    border-top: 1px solid #707070;
    box-shadow: 0 1px #cfcfcf inset;
    height: 30px;
}
.btn-default {
    margin: 0;
    padding: 0;
    color: #fff;
    height: 30px;
    background-image: linear-gradient(#94cbae, #447557);
    border: 1px solid #447557;
    margin-left: -6px;
    min-width: 109px;
    text-shadow: 0 1px #535e58;
}

.list-group {
    border: 1px solid #acab8f;
    border-radius: 0 0 15px 15px;
    margin-bottom: 40px;
}

.fas {
    padding: 5px;
    margin-top: 12px;
}

.block {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #acab8f;
    border-radius: 0 0 15px 15px;
/*    margin-bottom: 39px;*/
}

.borderred {
    border-left: 1px solid #efdadf;
    border-right: 1px solid #efdadf;
    width: 5px;
    height: 100%;
    min-height: 50px;
}

.what {
    height: 100%;
    min-height: 50px;
    color: #999999;
    border-right: 1px solid #e7ebea;
    padding: 13px 0 16px 17px;
    width: 100%;
}

.datetask {
    color: #999999;
    border-right: 1px solid #e7ebea;
    font-size: 10pt;
}

.deadlineExpired{
	background-color: #edc5c5;
}

table {
    width: 100%;
    height: 100%;

}

 table .icon a {
    display: inline-block;
    height: 17px;
    width: 30px;
}

table .icon {
    padding: 0 10px;
    width: 95px;
}

tr:hover {
    background-color: #fcfed5;
    cursor: pointer;
}

tr:hover .icon {
    opacity: 1;
}

tr {
    min-height: 50px;
    border-bottom: 1px solid #999999;
}

.tick {
    height: 100%;
    width: 45px;
}

.tick input {
    margin: 18px 0 16px 15px;
}

.fa-sort, .fa-edit {
    border-right: 1px solid #e7ebea;
}
