<div class="modal fade" id="AddTaskModal" tabindex="-1" role="dialog" aria-labelledby="AddTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddTaskModalLabel">Edit Task</h5>
                <button type="button" #closeBtnTask class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">


                <form>
                    <div class="form-group">
                        <label for="tsk_name">Name</label>
                        <input name="title" type="text" [(ngModel)]="task.name" class="form-control" id="tsk_name" placeholder="Enter Task name" (keyup.enter)="updTask()">
                    </div>

                    <div class="form-group">
                        <label for="tsk_deadline">Deadline</label>
                        <input name="task_deadline" type="text" class="form-control" id="tsk_deadline" aria-describedby="tsk_deadline" placeholder="Enter Task deadline" [(ngModel)]="task.deadline" [owlDateTime]="dt" [owlDateTimeTrigger]="dt" (keyup.enter)="updTask()">
			<owl-date-time #dt></owl-date-time>

<!--<owl-date-time-inline [(ngModel)]="selectedMoment"></owl-date-time-inline>-->

                    </div>
			<!--<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-secondary" [class.active]="task.status==true">
					<input type="radio" name="TaskStatus" id="IDTaskStatus1" autocomplete="off" [value]="1" [checked]="task.status==true"> Done
				</label>
	 			<label class="btn btn-secondary" [class.active]="task.status==false">
					<input type="radio" name="TaskStatus" id="IDTaskStatus2" autocomplete="off" [value]="0" [checked]="task.status==false"> Not done
				</label>
			</div>-->

                    <!--<div class="form-group">
                        <label for="tsk_stat">Status</label>
                        <input name="task_stat" type="text" class="form-control" id="tsk_stat" aria-describedby="tsk_stat" placeholder="Enter Task status " [(ngModel)]="task.status" (keyup.enter)="updTask()">
                    </div>-->
                   
                    <button (click)="updTask()" type="button" class="btn btn-primary">Add</button>
                </form>


            </div>
        </div>
    </div>
</div>
