<header class="header clearfix">
    <nav>
        <ul class="nav nav-pills float-right">
<!--            <li class="nav-item">
                <button type="button" class="btn btn-primary">
                  Todo
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-link">
                  Home
                </button>
            </li>
            <li class="nav-item">
                <button #addPost type="button" class="btn btn-link" data-toggle="modal" data-target="#AddTodolistModal">
                  Add
                </button>
            </li> -->
            <li class="nav-item">
		<p style="margin: 0px;">{{loggedUserName()}}&nbsp;({{loggedUser()}})</p>
                 <button (click)="logout()" type="button" class="btn btn-link">
                  Logout
                </button>
            </li>
        </ul>
    </nav>
<!--    <h3 class="text-muted" (click)="userok()">Angular Blog App </h3> -->
      <div class="container" (click)="loggedUser()">
        <h1>SIMPLE TODO LISTS</h1>
        <h2>FROM RUBY GARAGE</h2>
      </div>
</header>

<main role="main">
   
    <app-show-todo></app-show-todo>

<!--    <app-add-post></app-add-post> -->
    <app-add-todolist></app-add-todolist>
    <app-add-task></app-add-task>

<div style="text-align: center;">
    <button #addTodolist type="button" class="btn btn-primary center-block btn-todo" data-toggle="modal" data-target="#AddTodolistModal"><b class="plusblue">+</b>Add TODO List
    </button>
       
</div>

</main>

